*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

$primary: #ff7235;
$text: #dadada;

$font-size: 24px;
$radius: 10px;
$section-margin: 100px;

@mixin big-title {
  font-size: 8rem;
  font-weight: 600;
}

body {
  width: 80%;
  margin: 0 auto;
  font-size: $font-size;
  font-family: "Roboto", sans-serif;

  button {
    font-size: $font-size;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;

  p {
    display: flex;
    align-items: center;
    gap: 1rem;

    span {
      color: white;
      background: $primary;
      padding: 0.5rem;
      border-radius: 100%;
      width: 2rem;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  ul {
    display: flex;
    gap: 4rem;
    list-style: none;
  }

  button {
    background: none;
    color: $primary;
    border: 2px solid $primary;
    border-radius: $radius;
    padding: 1rem;
    transition: all 0.3s ease;

    &:hover {
      background: $primary;
      color: white;
    }
  }
}

.hero {
  display: flex;
  align-items: end;
  margin-top: $section-margin;

  > * {
    flex: 1;
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    h1 {
      @include big-title;
    }

    p {
      color: $text;
    }

    div {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;

      button {
        font-size: 1.5rem;
        padding: 1.5rem;
        border-radius: $radius;
        background: $primary;
        color: white;
        border: none;
      }
    }
  }
}

.graphImg {
  width: 100%;
  margin-top: $section-margin;
  border-image: linear-gradient($primary 0 0) fill 0 / auto / 0 100vw;
  padding-top: 5rem;
}

.brands {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: $section-margin;

  img {
    height: 2rem;
    width: auto;
    filter: grayscale(100%);
    opacity: 0.3;
  }
}

.support {
  margin-top: $section-margin;
  display: flex;

  > * {
    flex: 1;
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    h2 {
      @include big-title;
    }

    p {
      color: $text;
    }

    a {
      color: $primary;
      text-decoration: none;
    }
  }
}

.plans {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: $section-margin;
  align-items: center;

  h2 {
    @include big-title;
    font-size: 6rem;
  }
  .plans-container {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    width: 100%;

    .plan {
      border: 1px solid $text;
      padding: 4rem;
      border-radius: $radius;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 33%;

      h3 {
        font-size: 2rem;
        font-weight: 600;
      }

      .content {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        p {
          font-size: 1.5rem;
        }
      }

      .price {
        font-weight: 600;

        span {
          font-weight: 400;
          color: $text;
        }
      }

      .detail {
        color: $text;
        font-size: 1rem;
      }

      button {
        background: none;
        color: $primary;
        border: 2px solid $primary;
        border-radius: $radius;
        padding: 1rem;
        transition: all 0.3s ease;
        width: max-content;
      }
    }
  }
}
